<div>
    <header>
        <nav>
            <ul>
                <li>
                    <a [routerLink]="['/admin-home']"> Student Registration </a>
                </li>
                <li>
                    <a [routerLink]="['/view-student-list']"> View Student List </a>
                </li>
                <li>
                    <a [routerLink]="['/studentResult']"> Enter Student Result </a>
                </li>

                <li>
                    <a href="#" on-click='logout()'> Log out </a>
                </li>
            </ul>
        </nav>
    </header>
</div>