.sidebar {
    width: 100%;
    position: relative;
    z-index: 2;
    overflow: auto;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.5);
    padding: 5px;
    margin-top: 24px;
}

.sidebar-accordian {
    width: 100%;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.5);
}

.btn-divs {
    width: 100%;
    padding: 10px;
}

.btn-divs button {
    width: 100%;
    padding: 6px;
    border: none;
    /* background : #4a80df; */
    background: #006699;
    color: white;
    letter-spacing: 1.3px;
    border-radius: 0px;
    font-size: 1.4rem;
    position: relative;
    transition: all 0.3s linear;
    position: relative;
    font-weight: 500;
}

.btn-divs button:hover {
    background-color: #0099e6;
}

.btn-divs button a>i {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translate(-2%, -50%);
}

.btn-divs .fa-retweet {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translate(-2%, -50%);
}

.btn-divs button .fa-angle-down {
    position: absolute;
    top: 50%;
    left: 95% !important;
    transform: translateY(-50%);
    font-weight: bolder;
    transition: all 0.3s linear;
}

.activeMainBtn>.fa-angle-down.pull-right-icon {
    position: absolute;
    /* top     : 50%; */
    left: 95% !important;
    font-weight: bolder;
    transform: rotateZ(180deg) translateY(50%) !important;
}

@media screen and (min-width:992px) and (max-width:1245px) {
    .btn-divs button .fa-angle-down {
        position: absolute;
        top: 50%;
        left: 90% !important;
        transform: translateY(-50%);
        font-weight: bolder;
        transition: all 0.3s linear;
    }
    .activeMainBtn>.fa-angle-down.pull-right-icon {
        position: absolute;
        /* top     : 50%; */
        left: 90% !important;
        font-weight: bolder;
        transform: rotateZ(180deg) translateY(50%) !important;
    }
}

@media screen and (max-width:354px) {
    .btn-divs button .fa-angle-down {
        position: absolute;
        top: 50%;
        left: 90% !important;
        transform: translateY(-50%);
        font-weight: bolder;
        transition: all 0.3s linear;
    }
    .activeMainBtn>.fa-angle-down.pull-right-icon {
        position: absolute;
        /* top     : 50%; */
        left: 90% !important;
        font-weight: bolder;
        transform: rotateZ(180deg) translateY(50%) !important;
    }
}

.btn-divs button>a {
    text-decoration: none;
    color: white;
    letter-spacing: 1.3px;
    font-weight: 500;
}

.btn-divs ul {
    width: 95%;
    margin: 10px auto;
    list-style: none;
    background: rgba(255, 255, 255, 0.15);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(29px);
    letter-spacing: 0.3px;
    font-size: 1.5rem;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.75);
    box-shadow: 0px 8px 32px rgb(0 0 0 / 40%);
}

.btn-divs ul li {
    margin: 7px auto;
    background: linear-gradient(to right, #006699 50%, transparent 50%);
    background-position: 100%;
    background-size: 200%;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.btn-divs ul li:hover {
    background-position: 0%;
}

.btn-divs ul li:hover>a {
    color: white !important;
}

.btn-divs ul li a {
    width: 100%;
    text-decoration: none;
    color: black;
    transition: all 0.6s linear;
}