<div class="wrapper">
    <div class="left-wrap">

        <div class="header">
            <div class="logo1">

                <img src="./assets/img/logo1.jpeg" />
            </div>
            <div class="heading">
                <h5>रोगी कल्याण समिति (पंजी क्र. 7318)</h5>
                <h5>
                    प्राथमिक स्वास्थ्यप्रा केंद्र पिछोर, जिला ग्वालियर (मध्य प्रदेश)
                </h5>
                <h6>24*7 अपातकालिन नंबर 102 व 104, किशोर हेल्पलाइन 18002331250</h6>
            </div>
            <div class="logo2">
                <img src="./assets/img/logo2.jpeg" />
            </div>
        </div>

        <div class="patient-info">
            <div class="patient-head">
                <div class="patient-head-inner">
                    <h6 style="color:white!important;">बाह्य रोग पंजियन</h6>
                </div>
                <button class="btn btn-success" (click)="newOpd()">Get OPD</button>
            </div>
            <div class="patient-info-desc">

                <div class="left-patient-info">
                    <div>Patient Name</div>
                    <div>: {{data.name}}</div>
                    <div>Fath./Hus.</div>
                    <div>: {{data.fname}}</div>
                    <div>Age, Gender</div>
                    <div>: <b>{{data.age}} Year - {{data.gender}}</b> </div>
                    <div>Cast</div>
                    <div>: {{data.cast}}</div>
                    <div>Address</div>
                    <div>: {{data.address}}</div>
                    <div>Room No.</div>
                    <div>: {{data.roomno}}</div>
                    <div>Diesease</div>
                    <div>: {{data.diseases}}</div>

                </div>
                <div class="right-patient-info">
                    <div>Reg. No.</div>
                    <div>: {{data.regis_number}}</div>
                    <div>Reg Date</div>
                    <div>: <b>{{regisdate | date :'dd/MM/yyyy HH:mm'}}</b></div>
                    <div>Scheme</div>
                    <div>: {{data.scheme}} </div>
                    <div>Doctor</div>
                    <div>: {{data.doctors}}</div>
                    <div>Refer To</div>
                    <div>: {{data.refer}}</div>
                    <div>Mobile</div>
                    <div>: {{data.mobileno}}</div>
                    <div>Aadhar</div>
                    <div>: {{data.aadharnumber}}</div>
                </div>

            </div>
        </div>

        <div class="dignosis">
            <h6>Dignosis : </h6>
        </div>

        <div class="rx">
            <span>Rx.</span>
        </div>

        <div class="bottom-info">
            <table class="table">
                <thead>
                    <tr>
                        <th>एक्स-रे विभाग</th>
                        <th>सोनोग्राफी</th>
                        <th>पैथोलॉजी लैब</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <tr>
                            <td style="height: 100px;vertical-align: baseline;"><b>Reg. No. {{data.regis_number}} Date:
                        {{regisdate | date :'dd/MM/yyyy HH:mm'}}</b></td>
                            <td style="height: 100px;vertical-align: baseline;"><b>Reg. No. {{data.regis_number}} Date:
                        {{regisdate | date :'dd/MM/yyyy HH:mm'}}</b></td>
                            <td style="height: 100px;vertical-align: baseline;"><b>Reg. No. {{data.regis_number}} Date:
                        {{regisdate | date :'dd/MM/yyyy HH:mm'}}</b></td>
                        </tr>
                </tbody>
            </table>
            <div>
                <span>Valid Till Date : {{data.validtill | date :'dd/MM/yyyy HH:mm'}}</span>
            </div>
        </div>

    </div>

    <div class="right-wrap">

        <div class="header">
            <div class="logo1">
                <img src="./assets/img/logo1.jpeg" />
            </div>
            <div class="heading">
                <h5>रोगी कल्याण समिति (पंजी क्र. 7318)</h5>
                <h5>
                    प्राथमिक स्वास्थ्यप्रा केंद्र पिछोर, जिला ग्वालियर (मध्य प्रदेश)
                </h5>
                <h6>24*7 अपातकालिन नंबर 102 व 104, किशोर हेल्पलाइन 18002331250</h6>
            </div>
            <div class="logo2">
                <img src="./assets/img/logo2.jpeg" />
            </div>
        </div>

        <div class="patient-info">
            <div class="patient-head">
                <div class="patient-head-inner" style="color:white!important;">
                    <h6 style="color:white!important;">बाह्य रोग पंजियन</h6>
                </div>
                <button class="btn btn-success">Get OPD</button>
            </div>
            <div class="patient-info-desc">
                <div class="left-patient-info">
                    <div>Patient Name</div>
                    <div>: {{data.name}}</div>
                    <div>Fath./Hus.</div>
                    <div>: {{data.fname}}</div>
                    <div>Age, Gender</div>
                    <div>: <b>{{data.age}} Year - {{data.gender}}</b> </div>
                    <div>Cast</div>
                    <div>: {{data.cast}}</div>
                    <div>Address</div>
                    <div>: {{data.address}}</div>
                    <div>Room No.</div>
                    <div>: {{data.roomno}}</div>
                    <div>Diesease</div>
                    <div>: {{data.diseases}}</div>
                </div>
                <div class="right-patient-info">
                    <div>Reg. No.</div>
                    <div>: {{data.regis_number}}</div>
                    <div>Reg Date</div>
                    <div>: <b>{{regisdate | date :'dd/MM/yyyy HH:mm'}}</b></div>
                    <div>Revisit Date</div>
                    <div>: {{revisitdate | date :'dd/MM/yyyy HH:mm'}} </div>
                    <div>Doctor</div>
                    <div>: {{data.doctors}}</div>
                    <div>Refer To</div>
                    <div>: {{data.refer}}</div>
                    <div>Mobile</div>
                    <div>: {{data.mobileno}}</div>
                    <div>Aadhar</div>
                    <div>: {{data.aadharnumber}}</div>
                </div>
            </div>
        </div>

        <div class="dignosis">
            <h6>Dignosis : </h6>
        </div>

        <div class="rx">
            <span>Rx.</span>
        </div>

        <div class="bottom-info">
            <table class="table">
                <thead>
                    <tr>
                        <th>एक्स-रे विभाग</th>
                        <th>सोनोग्राफी</th>
                        <th>पैथोलॉजी लैब</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="height: 100px;vertical-align: baseline;"><b>Reg. No. {{data.regis_number}} Date:
                      {{regisdate | date :'dd/MM/yyyy HH:mm'}}</b></td>
                        <td style="height: 100px;vertical-align: baseline;"><b>Reg. No. {{data.regis_number}} Date:
                      {{regisdate | date :'dd/MM/yyyy HH:mm'}}</b></td>
                        <td style="height: 100px;vertical-align: baseline;"><b>Reg. No. {{data.regis_number}} Date:
                      {{regisdate | date :'dd/MM/yyyy HH:mm'}}</b></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <span>Valid Till Date : {{data.validtill | date :'dd/MM/yyyy HH:mm'}}</span>
            </div>
        </div>
    </div>
</div>