header li a {
    text-decoration: none;
    color: blue;
}

header li {
    margin: 20px;
    display: inline;
}

header {
    background-color: orange;
    position: fixed;
    left: 0;
    right: 0;
    top: 5px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}