<app-sp-header></app-sp-header>
<div class="wrapper" appNoRightClick>
    <div class="loader" *ngIf='loader'></div>
    <div class="container-fluid">
        <div class="outerContent">

            <app-sp-sidebar></app-sp-sidebar>

            <div class="col-md-9">
                <div class="" style="
                text-align: center;
                margin-top: 59px;">

                    <h1>Welcome To Hospital Online OPD System.</h1>
                </div>
                <!--/.span9-->
            </div>
        </div>
        <!--/.container-->
    </div>
    <!--/.wrapper-->


    <div class="footer" style="margin-top: 9px; margin-bottom: -30px;">
        <div class="container">
            <b class="copyright">&copy; 2022. Software developed and maintained by siddh services. </b>
        </div>
    </div>