<app-admin-header></app-admin-header>
<div class="wrapper" appNoRightClick>
    <div class="container-fluid">
        <div class="outerContent">

            <app-admin-sidebar></app-admin-sidebar>

            <div class="col-md-9">
                <div class="content">
                    <div
                        style="text-align: center;color: black;text-transform: uppercase;font-weight: bolder;letter-spacing: 0.4px;margin-bottom:18px">
                        <h4>Doctor Wise Summary Revisit Patient Report For Date Range</h4>
                    </div>
                    <button type="submit" (click)="getAllLogin()" class="btn btn-primary">Login</button>
                    <button type="submit" (click)="getDiseases()" class="btn btn-success">Diseases</button>
                    <button type="submit" (click)="getNewRegistration()" class="btn btn-secondary">New Regis</button>
                    <button type="submit" (click)="getpatientRevisit()" class="btn btn-success">Patient Revisit</button>
                    <button type="submit" (click)="getRegistrationCount()" class="btn btn-warning">Registration
                        No</button>

                </div>


            </div>
            <!--/.span9-->
        </div>
    </div>
    <!--/.container-->
</div>
<!--/.wrapper-->


<div class="footer" style="margin-top: 9px; margin-bottom: -30px;">
    <div class="container">
        <b class="copyright">&copy; 2022. Software developed and maintained by siddh services. </b>
    </div>
</div>