.wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.right-wrap {
    display: none;
}

.header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.logo1 img {
    width: 72px;
    height: 50px;
}

.logo2 img {
    width: 72px;
    height: 50px;
}

/* patent info */
.patient-info {
    padding: 6px;
}

.patient-head {
    position: relative;
}

.patient-head button {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
}


.patient-head-inner {
    width: 10%;
    height: 16px;
    background-color: black;
    color: white;
    font-size: 1.1rem;
    padding-top: 4px;
    text-align: center;
    margin-bottom: 29px;

}

.patient-info-desc {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: left;
    align-items: top;
    font-size: 0.9rem;
}


.left-patient-info{
    width:100%;
    display: grid;
    grid-template-columns: 1.8fr 8fr;
    font-size: 1.2rem;
    padding-left: 5px;
}
.right-patient-info{
    width:100%;
    display: grid;
    grid-template-columns: 1fr 8fr;
    font-size: 1.2rem;
}

/* dignosis */

.dignosis {
    position: relative;
    padding: 0 6px;
}

.rx {
    padding: 0 6px;
}

.dignosis::before {
    content: '';
    position: absolute;
    width: 83%;
    height: 100%;
    left: 15%;
    top: 0;
    bottom: 0;
    border-bottom: 1px solid black;
}


/* bottom table info */
.bottom-info {
    position: absolute;
    bottom: 1%;
    left: 0;
    width: 100%;
    padding-right: 6px;
    padding-left: 6px;
}

.bottom-info>div>span {
    font-size: 0.9rem;
}

.table {
    margin: 0;
}

table>thead>tr>th {
    font-size: 1rem;
    text-align: center;
    border: 1px solid gray;
}

table>tbody>tr>td {
    height: 120px;
    border: 1px solid gray;
}

/* css for responsiveness */

@media screen and (max-width:1192px){
    .patient-head-inner {
        width: 26%;
        background-color: black;
        color: white;
    }
}

@media screen and (max-width:769px){
    .patient-info-desc{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: left;
        align-items: top;
        font-size: 0.9rem;
    }
    table>tbody>tr>td {
        height: 60px;
        border: 1px solid gray;
    }

    
}

/* ----------------------- css for print the recipt */
@media print {

    .wrapper {
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .row {
        margin-right: 0;
        margin-left: 0;
    }

    .left-wrap {
        /* width: 50%; */
        border-right: 1px dashed gray;
        /* min-height: 100vh; */
        position: relative;

    }

    .right-wrap {
        display: block;
        /* width: 50%; */
        /* min-height: 100vh; */
        position: relative;

    }


    .header {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 6px;
    }

    .heading h6 {
        font-size: 0.9rem;
    }

    .logo1 img {
        width: 72px;
        height: 50px;
    }

    .logo2 img {
        width: 72px;
        height: 50px;
    }


    /* patient info */
    .patient-info {
        padding: 6px;
    }

    .patient-head {
        position: relative;
    }

    .patient-head button {
        display: none;
        position: absolute;
        right: 2%;
        top: 50%;
        transform: translateY(-50%);
    }


    .patient-head-inner {
        width: 26%;
        height: 16px;

        background-color: black!important;
        color: white!important;
        font-size: 1.1rem;
        padding-top: 4px;
        text-align: center;
        margin-bottom: 29px;
    }

    .patient-info-desc {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* justify-content: left; */
        align-items: top;
        font-size: 1rem;
    }

    .left-patient-info{
        width:100%;
        display: grid;
        grid-template-columns: 4.5fr 8fr;
        font-size: 1.2rem;
        padding-left: 5px;
    }
    .right-patient-info{
        width:100%;
        display: grid;
        grid-template-columns: 2.1fr 8fr;
        font-size: 1.2rem;
    }


    /* dignosis */

    .dignosis {
        position: relative;
        padding: 0 6px;
    }

    .rx {
        padding: 0 6px;
    }

    .dignosis::before {
        content: '';
        position: absolute;
        width: 83%;
        height: 100%;
        left: 15%;
        top: 0;
        bottom: 0;
        border-bottom: 1px solid black;
    }

    /* bottom table info */
    .bottom-info {
        position: absolute;
        bottom: 3%;
        left: 0;
        width: 100%;
        padding-right: 6px;
        padding-left: 6px;
    }

    .bottom-info>div>span {
        font-size: 0.9rem;
    }

    .table {
        margin: 0;
    }

    table>thead>tr>th {
        font-size: 1rem;
        text-align: center;
        border: 2px solid black;
    }

    table>tbody>tr>td {
        height: 60px;
        border: 2px solid black;
    }
}

/* print force to use color graphics and size by default landscape */
@media print {
    @page {
        size: landscape
    }
}

@media print {
    body {

        -webkit-print-color-adjust: exact;
        -moz-print-color-adjust: exact;
        -ms-print-color-adjust: exact;
        print-color-adjust: exact;
        margin: 0;
    }
}